--
-- PostgreSQL database dump
--

\restrict Mw53mm9K1cBZyKKMeM93BLFWBnO3QiyWUcvvBTzsEEnq1rDCjEMUJCXiHF6P4pe

-- Dumped from database version 16.14 (Debian 16.14-1.pgdg13+1)
-- Dumped by pg_dump version 16.14 (Debian 16.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agregados_sectoriales; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.agregados_sectoriales (
    id uuid NOT NULL,
    anio integer NOT NULL,
    calculated_at timestamp(6) with time zone NOT NULL,
    cantidad_empresas integer NOT NULL,
    intensidad_promedio numeric(14,6),
    mes integer NOT NULL,
    promedio_cobertura numeric(5,1),
    promedio_consistencia numeric(5,1),
    promedio_ima numeric(5,1),
    promedio_puntaje_intensidad_sectorial numeric(5,1),
    sector character varying(30) NOT NULL,
    CONSTRAINT agregados_sectoriales_sector_check CHECK (((sector)::text = ANY ((ARRAY['HOTELERIA'::character varying, 'AGROINDUSTRIA'::character varying, 'TRANSPORTE'::character varying, 'MANUFACTURA'::character varying, 'SERVICIOS'::character varying, 'RETAIL'::character varying, 'OTRO'::character varying])::text[])))
);


--
-- Name: alertas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alertas (
    id uuid NOT NULL,
    estado character varying(20) NOT NULL,
    fecha_envio timestamp(6) with time zone,
    fecha_generacion timestamp(6) with time zone NOT NULL,
    intentos_envio integer DEFAULT 0 NOT NULL,
    tipo_alerta character varying(10) NOT NULL,
    certificacion_id uuid NOT NULL,
    empresa_id uuid NOT NULL,
    CONSTRAINT alertas_estado_check CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'ENVIADA'::character varying, 'FALLIDA'::character varying])::text[]))),
    CONSTRAINT alertas_tipo_alerta_check CHECK (((tipo_alerta)::text = ANY ((ARRAY['DIAS_90'::character varying, 'DIAS_30'::character varying, 'DIAS_7'::character varying])::text[])))
);


--
-- Name: calificaciones_auditoria; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.calificaciones_auditoria (
    id uuid NOT NULL,
    actualizado_en timestamp(6) with time zone NOT NULL,
    calificacion integer NOT NULL,
    comentario character varying(500),
    creado_en timestamp(6) with time zone NOT NULL,
    auditor_id uuid NOT NULL,
    auditoria_id uuid NOT NULL,
    empresa_id uuid NOT NULL,
    nombre_calificador character varying(200)
);


--
-- Name: catalogo_insignias; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.catalogo_insignias (
    id bigint NOT NULL,
    activa boolean NOT NULL,
    cantidad_minima_certificaciones_activas integer NOT NULL,
    descripcion character varying(500) NOT NULL,
    id_insignia bigint NOT NULL,
    nivel_insignia character varying(20) NOT NULL,
    nombre character varying(120) NOT NULL
);


--
-- Name: catalogo_insignias_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.catalogo_insignias ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.catalogo_insignias_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: catalogo_insignias_tipos_certificacion; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.catalogo_insignias_tipos_certificacion (
    catalogo_insignia_id bigint NOT NULL,
    tipo_certificacion character varying(40) NOT NULL,
    CONSTRAINT catalogo_insignias_tipos_certificacion_tipo_certificacion_check CHECK (((tipo_certificacion)::text = ANY ((ARRAY['INVENTARIO_GEI'::character varying, 'REDUCCION_EMISIONES'::character varying, 'REDUCCION_PLUS'::character varying, 'CARBONO_NEUTRAL'::character varying, 'CARBONO_NEUTRAL_PLUS'::character varying, 'ADAPTACION_CLIMATICA'::character varying, 'HUELLA_PRODUCTO'::character varying, 'EXCELENCIA_CLIMATICA_EMPRESARIAL'::character varying])::text[])))
);


--
-- Name: certificaciones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.certificaciones (
    id uuid NOT NULL,
    credencial_jwt text NOT NULL,
    estado character varying(20) NOT NULL,
    fecha_emision timestamp(6) with time zone NOT NULL,
    fecha_vencimiento date NOT NULL,
    id_auditoria uuid NOT NULL,
    indice_estado bigint NOT NULL,
    tipo character varying(40) NOT NULL,
    auditor_id uuid NOT NULL,
    empresa_id uuid NOT NULL,
    codigo_verificacion character varying(20),
    fecha_revocacion timestamp(6) with time zone,
    CONSTRAINT certificaciones_estado_check CHECK (((estado)::text = ANY ((ARRAY['ACTIVA'::character varying, 'REVOCADA'::character varying])::text[]))),
    CONSTRAINT certificaciones_tipo_check CHECK (((tipo)::text = ANY ((ARRAY['INVENTARIO_GEI'::character varying, 'REDUCCION_EMISIONES'::character varying, 'REDUCCION_PLUS'::character varying, 'CARBONO_NEUTRAL'::character varying, 'CARBONO_NEUTRAL_PLUS'::character varying, 'ADAPTACION_CLIMATICA'::character varying, 'HUELLA_PRODUCTO'::character varying, 'EXCELENCIA_CLIMATICA_EMPRESARIAL'::character varying])::text[])))
);


--
-- Name: certificaciones_indice_estado; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.certificaciones_indice_estado (
    indice bigint NOT NULL
);


--
-- Name: certificaciones_indice_estado_indice_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.certificaciones_indice_estado ALTER COLUMN indice ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.certificaciones_indice_estado_indice_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: contenidos_reportes_auditoria; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.contenidos_reportes_auditoria (
    reporte_auditoria_id uuid NOT NULL,
    contenido bytea NOT NULL
);


--
-- Name: documentos_respaldo; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.documentos_respaldo (
    id uuid NOT NULL,
    contenido bytea NOT NULL,
    fecha_carga timestamp(6) with time zone NOT NULL,
    nombre_archivo character varying(255) NOT NULL,
    tamanio_bytes bigint NOT NULL,
    tipo_contenido character varying(255) NOT NULL,
    solicitud_id uuid NOT NULL
);


--
-- Name: emisiones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.emisiones (
    categoria character varying(40) NOT NULL,
    id uuid NOT NULL,
    carbon_kg numeric(14,3) NOT NULL,
    carbon_mt numeric(14,3) NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    created_by_user_id uuid,
    empresa_id uuid,
    estimated_at timestamp(6) with time zone NOT NULL,
    factor_emision_id character varying(100) NOT NULL,
    fecha_actividad date NOT NULL,
    titulo character varying(150) NOT NULL,
    electricity_unit character varying(10),
    electricity_value numeric(12,3),
    distance_unit character varying(10),
    distance_value numeric(12,3),
    transport_method character varying(10),
    weight_unit character varying(10),
    weight_value numeric(12,3),
    combustible character varying(20),
    tipo_vehiculo character varying(40),
    passengers integer,
    CONSTRAINT emisiones_combustible_check CHECK (((combustible)::text = ANY ((ARRAY['PROMEDIO'::character varying, 'GASOLINA'::character varying, 'DIESEL'::character varying, 'PHEV'::character varying, 'BEV'::character varying])::text[]))),
    CONSTRAINT emisiones_distance_unit_check CHECK (((distance_unit)::text = ANY ((ARRAY['KM'::character varying, 'MI'::character varying])::text[]))),
    CONSTRAINT emisiones_electricity_unit_check CHECK (((electricity_unit)::text = ANY ((ARRAY['KWH'::character varying, 'MWH'::character varying])::text[]))),
    CONSTRAINT emisiones_tipo_vehiculo_check CHECK (((tipo_vehiculo)::text = ANY ((ARRAY['AUTOMOVIL'::character varying, 'MOTOCICLETA'::character varying, 'FURGONETA_COMERCIAL'::character varying, 'CAMION_PESADO'::character varying])::text[]))),
    CONSTRAINT emisiones_transport_method_check CHECK (((transport_method)::text = ANY ((ARRAY['SHIP'::character varying, 'TRAIN'::character varying, 'TRUCK'::character varying, 'PLANE'::character varying])::text[]))),
    CONSTRAINT emisiones_weight_unit_check CHECK (((weight_unit)::text = ANY ((ARRAY['G'::character varying, 'LB'::character varying, 'KG'::character varying, 'MT'::character varying])::text[])))
);


--
-- Name: emisiones_vuelo_legs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.emisiones_vuelo_legs (
    id bigint NOT NULL,
    cabin_class character varying(20) NOT NULL,
    departure_airport character varying(3) NOT NULL,
    destination_airport character varying(3) NOT NULL,
    orden integer NOT NULL,
    emision_id uuid NOT NULL,
    CONSTRAINT emisiones_vuelo_legs_cabin_class_check CHECK (((cabin_class)::text = ANY ((ARRAY['ECONOMY'::character varying, 'PREMIUM'::character varying])::text[])))
);


--
-- Name: emisiones_vuelo_legs_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.emisiones_vuelo_legs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.emisiones_vuelo_legs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: empresas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.empresas (
    id uuid NOT NULL,
    cantidad_empleados integer,
    cedula_juridica character varying(255) NOT NULL,
    correo_corporativo character varying(255) NOT NULL,
    descripcion character varying(255),
    estado character varying(255) NOT NULL,
    fecha_registro timestamp(6) with time zone NOT NULL,
    logo_url character varying(255),
    nivel_ecologico character varying(255),
    nombre_empresa character varying(255) NOT NULL,
    pais character varying(255) NOT NULL,
    sector_industrial character varying(255) NOT NULL,
    sitio_web character varying(255),
    slug character varying(255) NOT NULL,
    CONSTRAINT empresas_estado_check CHECK (((estado)::text = ANY ((ARRAY['ACTIVO'::character varying, 'INACTIVO'::character varying])::text[]))),
    CONSTRAINT empresas_sector_industrial_check CHECK (((sector_industrial)::text = ANY ((ARRAY['HOTELERIA'::character varying, 'AGROINDUSTRIA'::character varying, 'TRANSPORTE'::character varying, 'MANUFACTURA'::character varying, 'SERVICIOS'::character varying, 'RETAIL'::character varying, 'OTRO'::character varying])::text[])))
);


--
-- Name: eventos_reconocimiento; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.eventos_reconocimiento (
    id uuid NOT NULL,
    estado_envio character varying(40) NOT NULL,
    evento_generado character varying(80) NOT NULL,
    fecha_evento timestamp(6) with time zone NOT NULL,
    fecha_ultimo_intento timestamp(6) with time zone,
    intentos_envio integer NOT NULL,
    ultimo_error character varying(500),
    usuario_id uuid NOT NULL,
    CONSTRAINT eventos_reconocimiento_estado_envio_check CHECK (((estado_envio)::text = ANY ((ARRAY['PENDIENTE_ENVIO'::character varying, 'ENVIADO'::character varying, 'PENDIENTE_REINTENTO'::character varying, 'FUERA_CATALOGO'::character varying, 'REINTENTOS_AGOTADOS'::character varying])::text[])))
);


--
-- Name: ima_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ima_snapshots (
    id uuid NOT NULL,
    anio integer NOT NULL,
    calculated_at timestamp(6) with time zone NOT NULL,
    cobertura numeric(5,1) NOT NULL,
    consistencia numeric(5,1) NOT NULL,
    empresa_id uuid NOT NULL,
    ima numeric(5,1) NOT NULL,
    intensidad numeric(14,6),
    interpretacion text,
    mes integer NOT NULL,
    motivo_parcial character varying(255),
    parcial boolean NOT NULL,
    puntaje_intensidad_sectorial numeric(5,1),
    siguiente_paso text
);


--
-- Name: insignias_empresa; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.insignias_empresa (
    id uuid NOT NULL,
    fecha_obtencion timestamp(6) with time zone NOT NULL,
    id_insignia bigint NOT NULL,
    nivel_insignia character varying(20) NOT NULL,
    empresa_id uuid NOT NULL,
    codigo_verificacion character varying(20)
);


--
-- Name: insignias_usuario; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.insignias_usuario (
    id uuid NOT NULL,
    evento_desbloqueo character varying(80) NOT NULL,
    fecha_obtencion timestamp(6) with time zone NOT NULL,
    id_insignia bigint NOT NULL,
    usuario_id uuid NOT NULL
);


--
-- Name: invitaciones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.invitaciones (
    id uuid NOT NULL,
    email character varying(254) NOT NULL,
    estado character varying(20) NOT NULL,
    fecha_aceptacion timestamp(6) with time zone,
    fecha_emision timestamp(6) with time zone NOT NULL,
    fecha_expiracion timestamp(6) with time zone NOT NULL,
    token_hash character varying(255) NOT NULL,
    version bigint NOT NULL,
    empresa_id uuid NOT NULL,
    CONSTRAINT invitaciones_estado_check CHECK (((estado)::text = ANY ((ARRAY['ENVIADA'::character varying, 'ACEPTADA'::character varying, 'EXPIRADA'::character varying, 'REVOCADA'::character varying])::text[])))
);


--
-- Name: itinerarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.itinerarios (
    id uuid NOT NULL,
    actualizado_en timestamp(6) with time zone NOT NULL,
    cantidad_dias integer NOT NULL,
    creado_en timestamp(6) with time zone NOT NULL,
    estado character varying(20) NOT NULL,
    fecha_generacion timestamp(6) with time zone NOT NULL,
    fecha_inicio date NOT NULL,
    generado_parcial boolean NOT NULL,
    mensaje_parcial character varying(500),
    puntuacion_ambiental_preliminar numeric(5,2),
    tipo_viaje character varying(20) NOT NULL,
    version integer NOT NULL,
    usuario_id uuid NOT NULL,
    clasificacion_ambiental character varying(20),
    eco_score numeric(5,1),
    eco_score_calculado_en timestamp(6) with time zone,
    eco_score_parcial boolean DEFAULT false,
    CONSTRAINT itinerarios_clasificacion_ambiental_check CHECK (((clasificacion_ambiental)::text = ANY ((ARRAY['EXCELENTE'::character varying, 'BUENA'::character varying, 'MODERADA'::character varying, 'MEJORABLE'::character varying])::text[]))),
    CONSTRAINT itinerarios_estado_check CHECK (((estado)::text = 'GENERADO'::text)),
    CONSTRAINT itinerarios_tipo_viaje_check CHECK (((tipo_viaje)::text = ANY ((ARRAY['INDIVIDUAL'::character varying, 'PAREJA'::character varying, 'FAMILIA'::character varying, 'AMIGOS'::character varying])::text[])))
);


--
-- Name: itinerarios_actividades; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.itinerarios_actividades (
    id uuid NOT NULL,
    costo_aproximado numeric(12,2),
    descripcion character varying(500),
    duracion_minutos integer NOT NULL,
    establecimiento_recomendado character varying(200),
    horario time(6) without time zone NOT NULL,
    moneda character varying(10),
    nombre character varying(200) NOT NULL,
    orden integer NOT NULL,
    provincia character varying(20) NOT NULL,
    puntuacion_ambiental_estimada integer,
    itinerario_dia_id uuid NOT NULL,
    categoria_turistica character varying(30),
    CONSTRAINT itinerarios_actividades_categoria_turistica_check CHECK (((categoria_turistica)::text = ANY ((ARRAY['NATURALEZA'::character varying, 'VIDA_SILVESTRE'::character varying, 'AVENTURA'::character varying, 'GASTRONOMIA_LOCAL'::character varying, 'CULTURA'::character varying, 'PLAYAS'::character varying, 'BIENESTAR'::character varying, 'DEPORTES_EXTREMOS'::character varying, 'HISTORIA'::character varying])::text[]))),
    CONSTRAINT itinerarios_actividades_moneda_check CHECK (((moneda)::text = ANY ((ARRAY['CRC'::character varying, 'USD'::character varying])::text[]))),
    CONSTRAINT itinerarios_actividades_provincia_check CHECK (((provincia)::text = ANY ((ARRAY['SAN_JOSE'::character varying, 'ALAJUELA'::character varying, 'CARTAGO'::character varying, 'HEREDIA'::character varying, 'GUANACASTE'::character varying, 'PUNTARENAS'::character varying, 'LIMON'::character varying])::text[])))
);


--
-- Name: itinerarios_dias; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.itinerarios_dias (
    id uuid NOT NULL,
    fecha date NOT NULL,
    numero_dia integer NOT NULL,
    orden integer NOT NULL,
    itinerario_id uuid NOT NULL
);


--
-- Name: limites_emisiones; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.limites_emisiones (
    id bigint NOT NULL,
    actualizado_en timestamp(6) with time zone NOT NULL,
    anio integer NOT NULL,
    creado_en timestamp(6) with time zone NOT NULL,
    empresa_id uuid NOT NULL,
    justificacion character varying(500),
    limite_mt numeric(16,4) NOT NULL
);


--
-- Name: limites_emisiones_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.limites_emisiones ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.limites_emisiones_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: metas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.metas (
    id uuid NOT NULL,
    estado character varying(20) NOT NULL,
    fecha_creacion timestamp(6) with time zone NOT NULL,
    fecha_limite date NOT NULL,
    nombre_meta character varying(100) NOT NULL,
    valor_objetivo_huella numeric(14,4) NOT NULL,
    empresa_id uuid NOT NULL,
    CONSTRAINT metas_estado_check CHECK (((estado)::text = 'ACTIVA'::text))
);


--
-- Name: notificaciones_panel; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notificaciones_panel (
    id uuid NOT NULL,
    fecha_creacion timestamp(6) with time zone NOT NULL,
    leida boolean NOT NULL,
    mensaje character varying(500) NOT NULL,
    certificacion_id uuid NOT NULL,
    empresa_id uuid NOT NULL
);


--
-- Name: notificaciones_transicion_auditoria; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notificaciones_transicion_auditoria (
    id uuid NOT NULL,
    destinatario_email character varying(254) NOT NULL,
    destinatario_nombre character varying(150),
    estado character varying(20) NOT NULL,
    estado_anterior character varying(30) NOT NULL,
    estado_nuevo character varying(30) NOT NULL,
    fecha_creacion timestamp(6) with time zone NOT NULL,
    fecha_envio timestamp(6) with time zone,
    intentos_envio integer DEFAULT 0 NOT NULL,
    nombre_empresa character varying(150),
    solicitud_id uuid NOT NULL,
    CONSTRAINT notificaciones_transicion_auditoria_estado_anterior_check CHECK (((estado_anterior)::text = ANY ((ARRAY['SOLICITUD_ENVIADA'::character varying, 'AUDITOR_ASIGNADO'::character varying, 'EN_REVISION'::character varying, 'REPORTE_CARGADO'::character varying, 'OBSERVACIONES_PENDIENTES'::character varying, 'CERTIFICACION_EMITIDA'::character varying])::text[]))),
    CONSTRAINT notificaciones_transicion_auditoria_estado_check CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'ENVIADA'::character varying, 'FALLIDA'::character varying])::text[]))),
    CONSTRAINT notificaciones_transicion_auditoria_estado_nuevo_check CHECK (((estado_nuevo)::text = ANY ((ARRAY['SOLICITUD_ENVIADA'::character varying, 'AUDITOR_ASIGNADO'::character varying, 'EN_REVISION'::character varying, 'REPORTE_CARGADO'::character varying, 'OBSERVACIONES_PENDIENTES'::character varying, 'CERTIFICACION_EMITIDA'::character varying])::text[])))
);


--
-- Name: perfil_auditor_especialidades; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.perfil_auditor_especialidades (
    perfil_auditor_id uuid NOT NULL,
    especialidad character varying(30),
    CONSTRAINT perfil_auditor_especialidades_especialidad_check CHECK (((especialidad)::text = ANY ((ARRAY['AGROINDUSTRIA'::character varying, 'ENERGIA_RENOVABLE'::character varying, 'LOGISTICA_TRANSPORTE'::character varying, 'MANUFACTURA'::character varying, 'TURISMO_SOSTENIBLE'::character varying])::text[])))
);


--
-- Name: perfil_auditor_zonas; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.perfil_auditor_zonas (
    perfil_auditor_id uuid NOT NULL,
    zona character varying(255),
    CONSTRAINT perfil_auditor_zonas_zona_check CHECK (((zona)::text = ANY ((ARRAY['SAN_JOSE'::character varying, 'ALAJUELA'::character varying, 'CARTAGO'::character varying, 'HEREDIA'::character varying, 'GUANACASTE'::character varying, 'PUNTARENAS'::character varying, 'LIMON'::character varying])::text[])))
);


--
-- Name: perfiles_auditor; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.perfiles_auditor (
    id uuid NOT NULL,
    actualizado_en timestamp(6) with time zone,
    anios_experiencia integer,
    auditorias_completadas integer NOT NULL,
    calificacion_promedio numeric(2,1),
    descripcion_profesional character varying(500),
    disponible boolean NOT NULL,
    foto_perfil character varying(255),
    provincia character varying(20),
    tiempo_respuesta_horas integer,
    total_resenas integer NOT NULL,
    auditor_id uuid NOT NULL,
    CONSTRAINT perfiles_auditor_provincia_check CHECK (((provincia)::text = ANY ((ARRAY['SAN_JOSE'::character varying, 'ALAJUELA'::character varying, 'CARTAGO'::character varying, 'HEREDIA'::character varying, 'GUANACASTE'::character varying, 'PUNTARENAS'::character varying, 'LIMON'::character varying])::text[])))
);


--
-- Name: preferencias_viaje; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.preferencias_viaje (
    id uuid NOT NULL,
    actualizado_en timestamp(6) with time zone NOT NULL,
    buscar_cerca_de_mi boolean NOT NULL,
    cantidad_dias integer NOT NULL,
    creado_en timestamp(6) with time zone NOT NULL,
    fecha_inicio date NOT NULL,
    itinerario_generacion_contador integer DEFAULT 0 NOT NULL,
    itinerario_generacion_ventana_inicio timestamp(6) with time zone,
    limitaciones_movilidad character varying(500),
    presupuesto character varying(100),
    provincia_preferida character varying(20),
    requiere_hospedaje boolean NOT NULL,
    tipo_viaje character varying(20) NOT NULL,
    ubicacion_actual character varying(200),
    usuario_id uuid NOT NULL,
    CONSTRAINT preferencias_viaje_provincia_preferida_check CHECK (((provincia_preferida)::text = ANY ((ARRAY['SAN_JOSE'::character varying, 'ALAJUELA'::character varying, 'CARTAGO'::character varying, 'HEREDIA'::character varying, 'GUANACASTE'::character varying, 'PUNTARENAS'::character varying, 'LIMON'::character varying])::text[]))),
    CONSTRAINT preferencias_viaje_tipo_viaje_check CHECK (((tipo_viaje)::text = ANY ((ARRAY['INDIVIDUAL'::character varying, 'PAREJA'::character varying, 'FAMILIA'::character varying, 'AMIGOS'::character varying])::text[])))
);


--
-- Name: preferencias_viaje_intereses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.preferencias_viaje_intereses (
    preferencias_viaje_id uuid NOT NULL,
    interes character varying(30) NOT NULL,
    CONSTRAINT preferencias_viaje_intereses_interes_check CHECK (((interes)::text = ANY ((ARRAY['NATURALEZA'::character varying, 'VIDA_SILVESTRE'::character varying, 'AVENTURA'::character varying, 'GASTRONOMIA_LOCAL'::character varying, 'CULTURA'::character varying, 'PLAYAS'::character varying, 'BIENESTAR'::character varying, 'DEPORTES_EXTREMOS'::character varying, 'HISTORIA'::character varying])::text[])))
);


--
-- Name: registros_auditoria_interna; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.registros_auditoria_interna (
    id uuid NOT NULL,
    administrador_id uuid NOT NULL,
    decision character varying(20) NOT NULL,
    fecha_evento timestamp(6) with time zone NOT NULL,
    solicitud_id uuid NOT NULL,
    tipo_evento character varying(40) NOT NULL
);


--
-- Name: registros_ponderacion; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.registros_ponderacion (
    id uuid NOT NULL,
    cantidad_certificaciones integer NOT NULL,
    componente_benchmark numeric(5,2) NOT NULL,
    componente_certificaciones numeric(5,2) NOT NULL,
    componente_ima numeric(5,2) NOT NULL,
    creado_en timestamp(6) with time zone NOT NULL,
    empresa_id uuid NOT NULL,
    itinerario_id uuid NOT NULL,
    puntuacion_total numeric(5,2) NOT NULL,
    usuario_id uuid NOT NULL
);


--
-- Name: reportes_auditoria; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reportes_auditoria (
    id uuid NOT NULL,
    fecha_carga timestamp(6) with time zone NOT NULL,
    nombre_archivo character varying(255) NOT NULL,
    tamanio_bytes bigint NOT NULL,
    tipo_contenido character varying(255) NOT NULL,
    solicitud_id uuid NOT NULL
);


--
-- Name: slug_historico; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.slug_historico (
    id uuid NOT NULL,
    empresa_id uuid NOT NULL,
    fecha_cambio timestamp(6) with time zone NOT NULL,
    slug_anterior character varying(255) NOT NULL
);


--
-- Name: slugs_historicos; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.slugs_historicos (
    id uuid NOT NULL,
    empresa_id uuid NOT NULL,
    fecha_cambio timestamp(6) with time zone NOT NULL,
    slug_anterior character varying(255) NOT NULL
);


--
-- Name: solicitudes_auditoria; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.solicitudes_auditoria (
    id uuid NOT NULL,
    descripcion_solicitud character varying(500),
    estado character varying(30) NOT NULL,
    fecha_asignacion timestamp(6) with time zone,
    fecha_creacion timestamp(6) with time zone NOT NULL,
    origen_asignacion character varying(20),
    periodo_fin date NOT NULL,
    periodo_inicio date NOT NULL,
    tipo_certificacion character varying(20) NOT NULL,
    version bigint DEFAULT 0 NOT NULL,
    auditor_id uuid,
    empresa_id uuid NOT NULL,
    fecha_aceptacion timestamp(6) with time zone,
    fecha_rechazo timestamp(6) with time zone,
    motivo_rechazo character varying(300),
    fecha_auditoria_realizada date,
    fecha_carga_reporte timestamp(6) with time zone,
    fecha_resolucion timestamp(6) with time zone,
    fecha_vencimiento_cert date,
    observaciones character varying(1000),
    resultado_auditoria character varying(20),
    CONSTRAINT chk_solicitudes_auditoria_estado CHECK (((estado)::text = ANY ((ARRAY['SOLICITUD_ENVIADA'::character varying, 'AUDITOR_ASIGNADO'::character varying, 'EN_REVISION'::character varying, 'REPORTE_CARGADO'::character varying, 'OBSERVACIONES_PENDIENTES'::character varying, 'CERTIFICACION_EMITIDA'::character varying])::text[]))),
    CONSTRAINT solicitudes_auditoria_origen_asignacion_check CHECK (((origen_asignacion)::text = ANY ((ARRAY['MANUAL'::character varying, 'RECOMENDACION_IA'::character varying])::text[]))),
    CONSTRAINT solicitudes_auditoria_resultado_auditoria_check CHECK (((resultado_auditoria)::text = ANY ((ARRAY['APROBADA'::character varying, 'OBSERVACIONES'::character varying])::text[]))),
    CONSTRAINT solicitudes_auditoria_tipo_certificacion_check CHECK (((tipo_certificacion)::text = ANY ((ARRAY['INICIAL'::character varying, 'RENOVACION'::character varying])::text[])))
);


--
-- Name: solicitudes_validacion; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.solicitudes_validacion (
    id uuid NOT NULL,
    estado character varying(20) NOT NULL,
    fecha_resolucion timestamp(6) with time zone,
    fecha_solicitud timestamp(6) with time zone NOT NULL,
    motivo_rechazo character varying(500),
    version bigint NOT NULL,
    auditor_id uuid NOT NULL,
    resuelta_por_id uuid,
    CONSTRAINT solicitudes_validacion_estado_check CHECK (((estado)::text = ANY ((ARRAY['PENDIENTE'::character varying, 'APROBADO'::character varying, 'RECHAZADO'::character varying])::text[])))
);


--
-- Name: transiciones_estado_auditoria; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.transiciones_estado_auditoria (
    id uuid NOT NULL,
    actor character varying(20) NOT NULL,
    estado_anterior character varying(30) NOT NULL,
    estado_nuevo character varying(30) NOT NULL,
    evento character varying(40) NOT NULL,
    fecha timestamp(6) with time zone NOT NULL,
    responsable_id uuid,
    responsable_nombre character varying(150),
    solicitud_id uuid NOT NULL,
    CONSTRAINT transiciones_estado_auditoria_actor_check CHECK (((actor)::text = ANY ((ARRAY['EMPRESA'::character varying, 'AUDITOR'::character varying, 'SISTEMA'::character varying])::text[]))),
    CONSTRAINT transiciones_estado_auditoria_estado_anterior_check CHECK (((estado_anterior)::text = ANY ((ARRAY['SOLICITUD_ENVIADA'::character varying, 'AUDITOR_ASIGNADO'::character varying, 'EN_REVISION'::character varying, 'REPORTE_CARGADO'::character varying, 'OBSERVACIONES_PENDIENTES'::character varying, 'CERTIFICACION_EMITIDA'::character varying])::text[]))),
    CONSTRAINT transiciones_estado_auditoria_estado_nuevo_check CHECK (((estado_nuevo)::text = ANY ((ARRAY['SOLICITUD_ENVIADA'::character varying, 'AUDITOR_ASIGNADO'::character varying, 'EN_REVISION'::character varying, 'REPORTE_CARGADO'::character varying, 'OBSERVACIONES_PENDIENTES'::character varying, 'CERTIFICACION_EMITIDA'::character varying])::text[]))),
    CONSTRAINT transiciones_estado_auditoria_evento_check CHECK (((evento)::text = ANY ((ARRAY['SOLICITUD_CREADA'::character varying, 'AUDITOR_ACEPTA'::character varying, 'INICIO_REVISION'::character varying, 'REPORTE_CARGADO'::character varying, 'RESULTADO_APROBADA'::character varying, 'RESULTADO_OBSERVACIONES'::character varying, 'AUDITOR_RECHAZA'::character varying, 'VENCIDA_POR_NO_RESPUESTA'::character varying])::text[])))
);


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.usuarios (
    id uuid NOT NULL,
    apellidos character varying(150),
    bloqueado_hasta timestamp(6) with time zone,
    configuracion_completa boolean NOT NULL,
    email character varying(254) NOT NULL,
    estado character varying(40) NOT NULL,
    fecha_registro timestamp(6) with time zone NOT NULL,
    google_sub character varying(255),
    idioma character varying(20),
    intentos_fallidos integer NOT NULL,
    metodo_auth character varying(20) NOT NULL,
    moneda character varying(10),
    nombre character varying(150),
    nombre_visible character varying(150),
    password_hash character varying(255),
    reenvio_verificacion_contador integer DEFAULT 0 NOT NULL,
    reenvio_verificacion_ventana_inicio timestamp(6) with time zone,
    reset_contrasena_contador integer DEFAULT 0 NOT NULL,
    reset_contrasena_ventana_inicio timestamp(6) with time zone,
    rol character varying(40) NOT NULL,
    token_reset_expiracion timestamp(6) with time zone,
    token_reset_hash character varying(255),
    token_verificacion_expiracion timestamp(6) with time zone,
    token_verificacion_hash character varying(255),
    unidades character varying(20),
    empresa_id uuid,
    CONSTRAINT usuarios_estado_check CHECK (((estado)::text = ANY ((ARRAY['ACTIVO'::character varying, 'PENDIENTE_VALIDACION'::character varying, 'PENDIENTE_VERIFICACION'::character varying, 'RECHAZADO'::character varying, 'DESHABILITADO'::character varying])::text[]))),
    CONSTRAINT usuarios_metodo_auth_check CHECK (((metodo_auth)::text = ANY ((ARRAY['GOOGLE'::character varying, 'CORREO'::character varying])::text[]))),
    CONSTRAINT usuarios_rol_check CHECK (((rol)::text = ANY ((ARRAY['USUARIO_INDIVIDUAL'::character varying, 'USUARIO_GENERAL'::character varying, 'ADMINISTRADOR_EMPRESA'::character varying, 'AUDITOR_CERTIFICADO'::character varying, 'ADMINISTRADOR_PLATAFORMA'::character varying])::text[])))
);


--
-- Data for Name: agregados_sectoriales; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.agregados_sectoriales (id, anio, calculated_at, cantidad_empresas, intensidad_promedio, mes, promedio_cobertura, promedio_consistencia, promedio_ima, promedio_puntaje_intensidad_sectorial, sector) FROM stdin;
e5000001-0000-0000-0000-000000000001	2025	2026-08-06 00:27:30.846894+00	12	0.000300	7	78.0	72.0	65.0	65.0	HOTELERIA
e5000001-0000-0000-0000-000000000002	2025	2026-08-06 00:27:30.846894+00	18	0.000350	7	75.0	68.0	62.0	60.0	SERVICIOS
ac608ea1-3ee2-4259-b3b2-df78478ec6e8	2026	2026-08-11 02:20:04.787935+00	0	\N	8	\N	\N	\N	\N	AGROINDUSTRIA
\.


--
-- Data for Name: alertas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.alertas (id, estado, fecha_envio, fecha_generacion, intentos_envio, tipo_alerta, certificacion_id, empresa_id) FROM stdin;
\.


--
-- Data for Name: calificaciones_auditoria; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.calificaciones_auditoria (id, actualizado_en, calificacion, comentario, creado_en, auditor_id, auditoria_id, empresa_id, nombre_calificador) FROM stdin;
ed587866-f8a4-4255-a9f6-a4f0bdf6479c	2026-08-13 01:50:32.310913+00	5	Test2	2026-08-13 00:28:33.355761+00	da69b327-e866-4960-a55f-1431abd1f958	f2000001-0000-0000-0000-000000000001	9331c5fe-b28e-4a7c-b43e-da8590da678f	Alison Y
\.


--
-- Data for Name: catalogo_insignias; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.catalogo_insignias (id, activa, cantidad_minima_certificaciones_activas, descripcion, id_insignia, nivel_insignia, nombre) FROM stdin;
1	t	1	Reconocimiento por mantener una certificacion ambiental activa validada.	3	bronce	Excelencia climatica empresarial
2	t	2	Reconocimiento por sostener dos certificaciones ambientales activas y complementarias.	3	plata	Excelencia climatica empresarial
3	t	3	Reconocimiento por demostrar una gestion climatica integral con tres certificaciones activas.	3	oro	Excelencia climatica empresarial
\.


--
-- Data for Name: catalogo_insignias_tipos_certificacion; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.catalogo_insignias_tipos_certificacion (catalogo_insignia_id, tipo_certificacion) FROM stdin;
1	EXCELENCIA_CLIMATICA_EMPRESARIAL
2	CARBONO_NEUTRAL
2	EXCELENCIA_CLIMATICA_EMPRESARIAL
3	EXCELENCIA_CLIMATICA_EMPRESARIAL
3	CARBONO_NEUTRAL
3	REDUCCION_EMISIONES
\.


--
-- Data for Name: certificaciones; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: certificaciones_indice_estado; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.certificaciones_indice_estado (indice) FROM stdin;
\.


--
-- Data for Name: contenidos_reportes_auditoria; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.contenidos_reportes_auditoria (reporte_auditoria_id, contenido) FROM stdin;
\.


--
-- Data for Name: documentos_respaldo; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.documentos_respaldo (id, contenido, fecha_carga, nombre_archivo, tamanio_bytes, tipo_contenido, solicitud_id) FROM stdin;
\.


--
-- Data for Name: emisiones; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: emisiones_vuelo_legs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.emisiones_vuelo_legs (id, cabin_class, departure_airport, destination_airport, orden, emision_id) FROM stdin;
\.


--
-- Data for Name: empresas; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: eventos_reconocimiento; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.eventos_reconocimiento (id, estado_envio, evento_generado, fecha_evento, fecha_ultimo_intento, intentos_envio, ultimo_error, usuario_id) FROM stdin;
90cb1bec-2300-4f9c-b6e0-86219af78f03	REINTENTOS_AGOTADOS	primer_itinerario_generado	2026-08-08 23:08:33.896623+00	2026-08-08 23:16:01.844809+00	3	El modulo de Certificacion no tiene una URL configurada.	22e2d967-e48d-46a2-9dc1-ac5532fa45a4
\.


--
-- Data for Name: ima_snapshots; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: insignias_empresa; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: insignias_usuario; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.insignias_usuario (id, evento_desbloqueo, fecha_obtencion, id_insignia, usuario_id) FROM stdin;
\.


--
-- Data for Name: invitaciones; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.invitaciones (id, email, estado, fecha_aceptacion, fecha_emision, fecha_expiracion, token_hash, version, empresa_id) FROM stdin;
c40f03ce-f964-4a09-b1df-43f82d168ace	justmaryeva@gmail.com	ACEPTADA	2026-08-11 04:30:25.704764+00	2026-08-11 04:27:39.699721+00	2026-08-18 04:27:39.699721+00	kBAKppV2l4vUbNM4kLWrSD4cGEF1Ja__hkbBYp_4XRQ	1	9331c5fe-b28e-4a7c-b43e-da8590da678f
\.


--
-- Data for Name: itinerarios; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: itinerarios_actividades; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: itinerarios_dias; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.itinerarios_dias (id, fecha, numero_dia, orden, itinerario_id) FROM stdin;
45fe157d-f2b5-42a7-b4f8-f1477716da69	2026-08-22	1	1	da77a038-ba54-470f-90c3-112c664936db
c0c71d11-4eb6-4efe-af70-28213b9d83e4	2026-08-23	2	2	da77a038-ba54-470f-90c3-112c664936db
091e043b-df5f-4a02-9cca-b3164362a10e	2026-08-22	1	1	f13f1187-2848-4ca3-b3ea-2d79c9099eaa
5b04b2ad-cbb6-4057-a8f6-77a7f6302608	2026-08-23	2	2	f13f1187-2848-4ca3-b3ea-2d79c9099eaa
\.


--
-- Data for Name: limites_emisiones; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.limites_emisiones (id, actualizado_en, anio, creado_en, empresa_id, justificacion, limite_mt) FROM stdin;
\.


--
-- Data for Name: metas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.metas (id, estado, fecha_creacion, fecha_limite, nombre_meta, valor_objetivo_huella, empresa_id) FROM stdin;
\.


--
-- Data for Name: notificaciones_panel; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.notificaciones_panel (id, fecha_creacion, leida, mensaje, certificacion_id, empresa_id) FROM stdin;
\.


--
-- Data for Name: notificaciones_transicion_auditoria; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.notificaciones_transicion_auditoria (id, destinatario_email, destinatario_nombre, estado, estado_anterior, estado_nuevo, fecha_creacion, fecha_envio, intentos_envio, nombre_empresa, solicitud_id) FROM stdin;
\.


--
-- Data for Name: perfil_auditor_especialidades; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.perfil_auditor_especialidades (perfil_auditor_id, especialidad) FROM stdin;
a1a1a1a1-1111-1111-1111-111111111111	AGROINDUSTRIA
a1a1a1a1-1111-1111-1111-111111111111	MANUFACTURA
a1a1a1a1-1111-1111-1111-111111111111	ENERGIA_RENOVABLE
b2b2b2b2-3333-3333-3333-333333333333	ENERGIA_RENOVABLE
b2b2b2b2-3333-3333-3333-333333333333	TURISMO_SOSTENIBLE
c3c3c3c3-5555-5555-5555-555555555555	LOGISTICA_TRANSPORTE
\.


--
-- Data for Name: perfil_auditor_zonas; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.perfil_auditor_zonas (perfil_auditor_id, zona) FROM stdin;
a1a1a1a1-1111-1111-1111-111111111111	SAN_JOSE
a1a1a1a1-1111-1111-1111-111111111111	HEREDIA
a1a1a1a1-1111-1111-1111-111111111111	CARTAGO
b2b2b2b2-3333-3333-3333-333333333333	HEREDIA
b2b2b2b2-3333-3333-3333-333333333333	ALAJUELA
b2b2b2b2-3333-3333-3333-333333333333	GUANACASTE
c3c3c3c3-5555-5555-5555-555555555555	LIMON
c3c3c3c3-5555-5555-5555-555555555555	CARTAGO
\.


--
-- Data for Name: perfiles_auditor; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: preferencias_viaje; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.preferencias_viaje (id, actualizado_en, buscar_cerca_de_mi, cantidad_dias, creado_en, fecha_inicio, itinerario_generacion_contador, itinerario_generacion_ventana_inicio, limitaciones_movilidad, presupuesto, provincia_preferida, requiere_hospedaje, tipo_viaje, ubicacion_actual, usuario_id) FROM stdin;
fbeda341-e114-4dd4-9cf7-21aedf62ea87	2026-08-09 00:23:23.037276+00	f	2	2026-08-08 23:08:31.211973+00	2026-08-22	4	2026-08-09 00:20:46.945292+00	\N	BAJO	HEREDIA	f	PAREJA	\N	22e2d967-e48d-46a2-9dc1-ac5532fa45a4
\.


--
-- Data for Name: preferencias_viaje_intereses; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.preferencias_viaje_intereses (preferencias_viaje_id, interes) FROM stdin;
fbeda341-e114-4dd4-9cf7-21aedf62ea87	VIDA_SILVESTRE
\.


--
-- Data for Name: registros_auditoria_interna; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.registros_auditoria_interna (id, administrador_id, decision, fecha_evento, solicitud_id, tipo_evento) FROM stdin;
\.


--
-- Data for Name: registros_ponderacion; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.registros_ponderacion (id, cantidad_certificaciones, componente_benchmark, componente_certificaciones, componente_ima, creado_en, empresa_id, itinerario_id, puntuacion_total, usuario_id) FROM stdin;
\.


--
-- Data for Name: reportes_auditoria; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.reportes_auditoria (id, fecha_carga, nombre_archivo, tamanio_bytes, tipo_contenido, solicitud_id) FROM stdin;
\.


--
-- Data for Name: slug_historico; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.slug_historico (id, empresa_id, fecha_cambio, slug_anterior) FROM stdin;
e7000001-0000-0000-0000-000000000001	a1000001-0000-0000-0000-000000000008	2025-06-01 00:00:00+00	parque-cahuita
\.


--
-- Data for Name: slugs_historicos; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.slugs_historicos (id, empresa_id, fecha_cambio, slug_anterior) FROM stdin;
\.


--
-- Data for Name: solicitudes_auditoria; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: solicitudes_validacion; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.solicitudes_validacion (id, estado, fecha_resolucion, fecha_solicitud, motivo_rechazo, version, auditor_id, resuelta_por_id) FROM stdin;
\.


--
-- Data for Name: transiciones_estado_auditoria; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: catalogo_insignias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.catalogo_insignias_id_seq', 3, true);


--
-- Name: certificaciones_indice_estado_indice_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.certificaciones_indice_estado_indice_seq', 1, false);


--
-- Name: emisiones_vuelo_legs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.emisiones_vuelo_legs_id_seq', 1, false);


--
-- Name: limites_emisiones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.limites_emisiones_id_seq', 1, false);


--
-- Name: agregados_sectoriales agregados_sectoriales_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agregados_sectoriales
    ADD CONSTRAINT agregados_sectoriales_pkey PRIMARY KEY (id);


--
-- Name: alertas alertas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alertas
    ADD CONSTRAINT alertas_pkey PRIMARY KEY (id);


--
-- Name: calificaciones_auditoria calificaciones_auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calificaciones_auditoria
    ADD CONSTRAINT calificaciones_auditoria_pkey PRIMARY KEY (id);


--
-- Name: catalogo_insignias catalogo_insignias_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.catalogo_insignias
    ADD CONSTRAINT catalogo_insignias_pkey PRIMARY KEY (id);


--
-- Name: catalogo_insignias_tipos_certificacion catalogo_insignias_tipos_certificacion_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.catalogo_insignias_tipos_certificacion
    ADD CONSTRAINT catalogo_insignias_tipos_certificacion_pkey PRIMARY KEY (catalogo_insignia_id, tipo_certificacion);


--
-- Name: certificaciones_indice_estado certificaciones_indice_estado_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificaciones_indice_estado
    ADD CONSTRAINT certificaciones_indice_estado_pkey PRIMARY KEY (indice);


--
-- Name: certificaciones certificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificaciones
    ADD CONSTRAINT certificaciones_pkey PRIMARY KEY (id);


--
-- Name: contenidos_reportes_auditoria contenidos_reportes_auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contenidos_reportes_auditoria
    ADD CONSTRAINT contenidos_reportes_auditoria_pkey PRIMARY KEY (reporte_auditoria_id);


--
-- Name: documentos_respaldo documentos_respaldo_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documentos_respaldo
    ADD CONSTRAINT documentos_respaldo_pkey PRIMARY KEY (id);


--
-- Name: emisiones emisiones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.emisiones
    ADD CONSTRAINT emisiones_pkey PRIMARY KEY (id);


--
-- Name: emisiones_vuelo_legs emisiones_vuelo_legs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.emisiones_vuelo_legs
    ADD CONSTRAINT emisiones_vuelo_legs_pkey PRIMARY KEY (id);


--
-- Name: empresas empresas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.empresas
    ADD CONSTRAINT empresas_pkey PRIMARY KEY (id);


--
-- Name: eventos_reconocimiento eventos_reconocimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.eventos_reconocimiento
    ADD CONSTRAINT eventos_reconocimiento_pkey PRIMARY KEY (id);


--
-- Name: ima_snapshots ima_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ima_snapshots
    ADD CONSTRAINT ima_snapshots_pkey PRIMARY KEY (id);


--
-- Name: insignias_empresa insignias_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insignias_empresa
    ADD CONSTRAINT insignias_empresa_pkey PRIMARY KEY (id);


--
-- Name: insignias_usuario insignias_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insignias_usuario
    ADD CONSTRAINT insignias_usuario_pkey PRIMARY KEY (id);


--
-- Name: invitaciones invitaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invitaciones
    ADD CONSTRAINT invitaciones_pkey PRIMARY KEY (id);


--
-- Name: itinerarios_actividades itinerarios_actividades_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.itinerarios_actividades
    ADD CONSTRAINT itinerarios_actividades_pkey PRIMARY KEY (id);


--
-- Name: itinerarios_dias itinerarios_dias_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.itinerarios_dias
    ADD CONSTRAINT itinerarios_dias_pkey PRIMARY KEY (id);


--
-- Name: itinerarios itinerarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.itinerarios
    ADD CONSTRAINT itinerarios_pkey PRIMARY KEY (id);


--
-- Name: limites_emisiones limites_emisiones_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.limites_emisiones
    ADD CONSTRAINT limites_emisiones_pkey PRIMARY KEY (id);


--
-- Name: metas metas_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metas
    ADD CONSTRAINT metas_pkey PRIMARY KEY (id);


--
-- Name: notificaciones_panel notificaciones_panel_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificaciones_panel
    ADD CONSTRAINT notificaciones_panel_pkey PRIMARY KEY (id);


--
-- Name: notificaciones_transicion_auditoria notificaciones_transicion_auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificaciones_transicion_auditoria
    ADD CONSTRAINT notificaciones_transicion_auditoria_pkey PRIMARY KEY (id);


--
-- Name: perfiles_auditor perfiles_auditor_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.perfiles_auditor
    ADD CONSTRAINT perfiles_auditor_pkey PRIMARY KEY (id);


--
-- Name: preferencias_viaje preferencias_viaje_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.preferencias_viaje
    ADD CONSTRAINT preferencias_viaje_pkey PRIMARY KEY (id);


--
-- Name: registros_auditoria_interna registros_auditoria_interna_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.registros_auditoria_interna
    ADD CONSTRAINT registros_auditoria_interna_pkey PRIMARY KEY (id);


--
-- Name: registros_ponderacion registros_ponderacion_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.registros_ponderacion
    ADD CONSTRAINT registros_ponderacion_pkey PRIMARY KEY (id);


--
-- Name: reportes_auditoria reportes_auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reportes_auditoria
    ADD CONSTRAINT reportes_auditoria_pkey PRIMARY KEY (id);


--
-- Name: slug_historico slug_historico_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slug_historico
    ADD CONSTRAINT slug_historico_pkey PRIMARY KEY (id);


--
-- Name: slugs_historicos slugs_historicos_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slugs_historicos
    ADD CONSTRAINT slugs_historicos_pkey PRIMARY KEY (id);


--
-- Name: solicitudes_auditoria solicitudes_auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solicitudes_auditoria
    ADD CONSTRAINT solicitudes_auditoria_pkey PRIMARY KEY (id);


--
-- Name: solicitudes_validacion solicitudes_validacion_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solicitudes_validacion
    ADD CONSTRAINT solicitudes_validacion_pkey PRIMARY KEY (id);


--
-- Name: transiciones_estado_auditoria transiciones_estado_auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transiciones_estado_auditoria
    ADD CONSTRAINT transiciones_estado_auditoria_pkey PRIMARY KEY (id);


--
-- Name: usuarios uk3q4nwh0s24uk6x2wh6vcrok2o; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT uk3q4nwh0s24uk6x2wh6vcrok2o UNIQUE (token_reset_hash);


--
-- Name: insignias_empresa uk40qdi269fyxd8laxi24slu6s6; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insignias_empresa
    ADD CONSTRAINT uk40qdi269fyxd8laxi24slu6s6 UNIQUE (codigo_verificacion);


--
-- Name: certificaciones uk7lkp2gfqb2khcuejqs0kr57vq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificaciones
    ADD CONSTRAINT uk7lkp2gfqb2khcuejqs0kr57vq UNIQUE (codigo_verificacion);


--
-- Name: alertas uk_alerta_certificacion_tipo; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alertas
    ADD CONSTRAINT uk_alerta_certificacion_tipo UNIQUE (certificacion_id, tipo_alerta);


--
-- Name: calificaciones_auditoria uk_calificaciones_auditoria_empresa; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calificaciones_auditoria
    ADD CONSTRAINT uk_calificaciones_auditoria_empresa UNIQUE (auditoria_id, empresa_id);


--
-- Name: catalogo_insignias uk_catalogo_insignias_id_nivel; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.catalogo_insignias
    ADD CONSTRAINT uk_catalogo_insignias_id_nivel UNIQUE (id_insignia, nivel_insignia);


--
-- Name: eventos_reconocimiento uk_eventos_reconocimiento_usuario_evento; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.eventos_reconocimiento
    ADD CONSTRAINT uk_eventos_reconocimiento_usuario_evento UNIQUE (usuario_id, evento_generado);


--
-- Name: insignias_empresa uk_insignias_empresa_empresa_insignia_nivel; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insignias_empresa
    ADD CONSTRAINT uk_insignias_empresa_empresa_insignia_nivel UNIQUE (empresa_id, id_insignia, nivel_insignia);


--
-- Name: insignias_usuario uk_insignias_usuario_usuario_insignia; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insignias_usuario
    ADD CONSTRAINT uk_insignias_usuario_usuario_insignia UNIQUE (usuario_id, id_insignia);


--
-- Name: limites_emisiones uk_limites_emisiones_empresa_anio; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.limites_emisiones
    ADD CONSTRAINT uk_limites_emisiones_empresa_anio UNIQUE (empresa_id, anio);


--
-- Name: perfiles_auditor uk_perfiles_auditor_auditor; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.perfiles_auditor
    ADD CONSTRAINT uk_perfiles_auditor_auditor UNIQUE (auditor_id);


--
-- Name: preferencias_viaje uk_preferencias_viaje_usuario; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.preferencias_viaje
    ADD CONSTRAINT uk_preferencias_viaje_usuario UNIQUE (usuario_id);


--
-- Name: certificaciones ukb1apo3xba560hn1efa1w2bnul; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificaciones
    ADD CONSTRAINT ukb1apo3xba560hn1efa1w2bnul UNIQUE (id_auditoria);


--
-- Name: empresas ukbv7eu1kmaybtgrbgne58e9byt; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.empresas
    ADD CONSTRAINT ukbv7eu1kmaybtgrbgne58e9byt UNIQUE (cedula_juridica);


--
-- Name: reportes_auditoria ukciiipd7lfggb2vo1uh9euq8df; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reportes_auditoria
    ADD CONSTRAINT ukciiipd7lfggb2vo1uh9euq8df UNIQUE (solicitud_id);


--
-- Name: ima_snapshots ukgcnaablb7iduc0hi8h478d52f; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ima_snapshots
    ADD CONSTRAINT ukgcnaablb7iduc0hi8h478d52f UNIQUE (empresa_id, anio, mes);


--
-- Name: usuarios ukkfsp0s1tflm1cwlj8idhqsad0; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT ukkfsp0s1tflm1cwlj8idhqsad0 UNIQUE (email);


--
-- Name: invitaciones ukko6kofbngtecs48jh1ib4fp5p; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invitaciones
    ADD CONSTRAINT ukko6kofbngtecs48jh1ib4fp5p UNIQUE (token_hash);


--
-- Name: empresas ukoxjm7107hdbs83tmlv185g81h; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.empresas
    ADD CONSTRAINT ukoxjm7107hdbs83tmlv185g81h UNIQUE (correo_corporativo);


--
-- Name: slug_historico ukqhwipcawig3b0utt677j4hxdk; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slug_historico
    ADD CONSTRAINT ukqhwipcawig3b0utt677j4hxdk UNIQUE (slug_anterior);


--
-- Name: agregados_sectoriales ukqj5ru0mlr1d26phsruta75ga; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.agregados_sectoriales
    ADD CONSTRAINT ukqj5ru0mlr1d26phsruta75ga UNIQUE (sector, anio, mes);


--
-- Name: empresas ukr39jlbnr872xtfpxy5jvbyk1n; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.empresas
    ADD CONSTRAINT ukr39jlbnr872xtfpxy5jvbyk1n UNIQUE (slug);


--
-- Name: slugs_historicos ukrjhr0d66b4s6mat8n68579i00; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.slugs_historicos
    ADD CONSTRAINT ukrjhr0d66b4s6mat8n68579i00 UNIQUE (slug_anterior);


--
-- Name: certificaciones uks7k8sfg9lmybi0b50d63n8b58; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificaciones
    ADD CONSTRAINT uks7k8sfg9lmybi0b50d63n8b58 UNIQUE (indice_estado);


--
-- Name: usuarios uksa9ihyauo0nnnilr59cloohiu; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT uksa9ihyauo0nnnilr59cloohiu UNIQUE (google_sub);


--
-- Name: usuarios ukt5hf06bem6rwylm81yvndwdhv; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT ukt5hf06bem6rwylm81yvndwdhv UNIQUE (token_verificacion_hash);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: solicitudes_auditoria fk258o3f945035wqs53nnokukm6; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solicitudes_auditoria
    ADD CONSTRAINT fk258o3f945035wqs53nnokukm6 FOREIGN KEY (auditor_id) REFERENCES public.usuarios(id);


--
-- Name: notificaciones_transicion_auditoria fk2s5j1e7irxxtgnikt4ob51q05; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificaciones_transicion_auditoria
    ADD CONSTRAINT fk2s5j1e7irxxtgnikt4ob51q05 FOREIGN KEY (solicitud_id) REFERENCES public.solicitudes_auditoria(id);


--
-- Name: itinerarios_actividades fk3dabfnr3eplhodqkxj1oouvfo; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.itinerarios_actividades
    ADD CONSTRAINT fk3dabfnr3eplhodqkxj1oouvfo FOREIGN KEY (itinerario_dia_id) REFERENCES public.itinerarios_dias(id);


--
-- Name: notificaciones_panel fk3y331u8oqvbpoq36dajkioepl; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificaciones_panel
    ADD CONSTRAINT fk3y331u8oqvbpoq36dajkioepl FOREIGN KEY (certificacion_id) REFERENCES public.certificaciones(id);


--
-- Name: invitaciones fk4rmrvhmnsgvt9l9mc59r1ebcx; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invitaciones
    ADD CONSTRAINT fk4rmrvhmnsgvt9l9mc59r1ebcx FOREIGN KEY (empresa_id) REFERENCES public.empresas(id);


--
-- Name: emisiones_vuelo_legs fk5bpah7c35recmf4138owyk919; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.emisiones_vuelo_legs
    ADD CONSTRAINT fk5bpah7c35recmf4138owyk919 FOREIGN KEY (emision_id) REFERENCES public.emisiones(id);


--
-- Name: calificaciones_auditoria fk6r2h7qv4pmekeao502ht8ld4g; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calificaciones_auditoria
    ADD CONSTRAINT fk6r2h7qv4pmekeao502ht8ld4g FOREIGN KEY (auditoria_id) REFERENCES public.solicitudes_auditoria(id);


--
-- Name: certificaciones fk7h52pqrubkaaqbd0abw8i9ywb; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificaciones
    ADD CONSTRAINT fk7h52pqrubkaaqbd0abw8i9ywb FOREIGN KEY (auditor_id) REFERENCES public.usuarios(id);


--
-- Name: solicitudes_validacion fk7n6vg3m99keix6pdfflivul6x; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solicitudes_validacion
    ADD CONSTRAINT fk7n6vg3m99keix6pdfflivul6x FOREIGN KEY (resuelta_por_id) REFERENCES public.usuarios(id);


--
-- Name: perfil_auditor_zonas fk8k37i6h2tuiu50box2mkk5myy; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.perfil_auditor_zonas
    ADD CONSTRAINT fk8k37i6h2tuiu50box2mkk5myy FOREIGN KEY (perfil_auditor_id) REFERENCES public.perfiles_auditor(id);


--
-- Name: transiciones_estado_auditoria fk8xjnltr8ikd50qjbyoufm3h7y; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.transiciones_estado_auditoria
    ADD CONSTRAINT fk8xjnltr8ikd50qjbyoufm3h7y FOREIGN KEY (solicitud_id) REFERENCES public.solicitudes_auditoria(id);


--
-- Name: insignias_usuario fk9g2xuu3b5o7g37lsqio456phn; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insignias_usuario
    ADD CONSTRAINT fk9g2xuu3b5o7g37lsqio456phn FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: preferencias_viaje_intereses fk9ht0knhkp08le3utus5mbh23j; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.preferencias_viaje_intereses
    ADD CONSTRAINT fk9ht0knhkp08le3utus5mbh23j FOREIGN KEY (preferencias_viaje_id) REFERENCES public.preferencias_viaje(id);


--
-- Name: usuarios fk9v93lqnass5yqhhsyprr9fdv2; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT fk9v93lqnass5yqhhsyprr9fdv2 FOREIGN KEY (empresa_id) REFERENCES public.empresas(id);


--
-- Name: catalogo_insignias_tipos_certificacion fkcjk3d6s4wyjysoh0a9n2mareh; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.catalogo_insignias_tipos_certificacion
    ADD CONSTRAINT fkcjk3d6s4wyjysoh0a9n2mareh FOREIGN KEY (catalogo_insignia_id) REFERENCES public.catalogo_insignias(id);


--
-- Name: notificaciones_panel fkcjr182e7n8rb2bueyrcbbg26m; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notificaciones_panel
    ADD CONSTRAINT fkcjr182e7n8rb2bueyrcbbg26m FOREIGN KEY (empresa_id) REFERENCES public.empresas(id);


--
-- Name: certificaciones fkcjyjwobyyryfqnufw7pfsuqwk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.certificaciones
    ADD CONSTRAINT fkcjyjwobyyryfqnufw7pfsuqwk FOREIGN KEY (empresa_id) REFERENCES public.empresas(id);


--
-- Name: solicitudes_auditoria fkdj2k72m9jwyxkfhk0jnke5dyo; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solicitudes_auditoria
    ADD CONSTRAINT fkdj2k72m9jwyxkfhk0jnke5dyo FOREIGN KEY (empresa_id) REFERENCES public.empresas(id);


--
-- Name: calificaciones_auditoria fkdlsihmsmvxkmwr4rwcvvwv8jj; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calificaciones_auditoria
    ADD CONSTRAINT fkdlsihmsmvxkmwr4rwcvvwv8jj FOREIGN KEY (empresa_id) REFERENCES public.empresas(id);


--
-- Name: contenidos_reportes_auditoria fkej6mk32n7qc11ars7bs7v8uyt; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.contenidos_reportes_auditoria
    ADD CONSTRAINT fkej6mk32n7qc11ars7bs7v8uyt FOREIGN KEY (reporte_auditoria_id) REFERENCES public.reportes_auditoria(id);


--
-- Name: preferencias_viaje fkh0l2qsv42mb6n8whdd1yjg6pl; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.preferencias_viaje
    ADD CONSTRAINT fkh0l2qsv42mb6n8whdd1yjg6pl FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: documentos_respaldo fkifp6ir7bytoh1d81hnp363bb7; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.documentos_respaldo
    ADD CONSTRAINT fkifp6ir7bytoh1d81hnp363bb7 FOREIGN KEY (solicitud_id) REFERENCES public.solicitudes_auditoria(id);


--
-- Name: itinerarios_dias fkil8mhlmafld9t59gr4u0gjr2j; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.itinerarios_dias
    ADD CONSTRAINT fkil8mhlmafld9t59gr4u0gjr2j FOREIGN KEY (itinerario_id) REFERENCES public.itinerarios(id);


--
-- Name: perfil_auditor_especialidades fkm7p6hja0yeduib0k0ab2e3mio; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.perfil_auditor_especialidades
    ADD CONSTRAINT fkm7p6hja0yeduib0k0ab2e3mio FOREIGN KEY (perfil_auditor_id) REFERENCES public.perfiles_auditor(id);


--
-- Name: perfiles_auditor fkn4mg79vtbj9dp2ejsmk05rx3x; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.perfiles_auditor
    ADD CONSTRAINT fkn4mg79vtbj9dp2ejsmk05rx3x FOREIGN KEY (auditor_id) REFERENCES public.usuarios(id);


--
-- Name: insignias_empresa fko29hmxq9arwfc4b9ub0py0ndd; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.insignias_empresa
    ADD CONSTRAINT fko29hmxq9arwfc4b9ub0py0ndd FOREIGN KEY (empresa_id) REFERENCES public.empresas(id);


--
-- Name: itinerarios fkoe1r3sa2o13fl1fqwwffer9wg; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.itinerarios
    ADD CONSTRAINT fkoe1r3sa2o13fl1fqwwffer9wg FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: metas fkoietkohs0fqxddoibaoh6olks; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.metas
    ADD CONSTRAINT fkoietkohs0fqxddoibaoh6olks FOREIGN KEY (empresa_id) REFERENCES public.empresas(id);


--
-- Name: solicitudes_validacion fkoj9qxr1nlbn2e5imqv97yhdns; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.solicitudes_validacion
    ADD CONSTRAINT fkoj9qxr1nlbn2e5imqv97yhdns FOREIGN KEY (auditor_id) REFERENCES public.usuarios(id);


--
-- Name: reportes_auditoria fkol752iuva02br07mwul40f8yd; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reportes_auditoria
    ADD CONSTRAINT fkol752iuva02br07mwul40f8yd FOREIGN KEY (solicitud_id) REFERENCES public.solicitudes_auditoria(id);


--
-- Name: alertas fkovljg94l4ywdmygmvi52mknl4; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alertas
    ADD CONSTRAINT fkovljg94l4ywdmygmvi52mknl4 FOREIGN KEY (certificacion_id) REFERENCES public.certificaciones(id);


--
-- Name: alertas fkq7lk6pidyn6cbbkl1y7151v80; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alertas
    ADD CONSTRAINT fkq7lk6pidyn6cbbkl1y7151v80 FOREIGN KEY (empresa_id) REFERENCES public.empresas(id);


--
-- Name: calificaciones_auditoria fkr8o8gp27bx0nyeuygi015da2r; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.calificaciones_auditoria
    ADD CONSTRAINT fkr8o8gp27bx0nyeuygi015da2r FOREIGN KEY (auditor_id) REFERENCES public.usuarios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Mw53mm9K1cBZyKKMeM93BLFWBnO3QiyWUcvvBTzsEEnq1rDCjEMUJCXiHF6P4pe

